langchain
langchain_openai
langchain_deepseek
langchain_community
langchain_huggingface
sentence_transformers
openai
numpy
pandas
python-dotenv
fastapi
uvicorn
streamlit
scikit-learn
textblob
beautifulsoup4
transformers
googlemaps
faiss-cpu
pyyaml
loguru
elasticsearch
torch
torchvision
torchaudio